body {
    background-color: #f2f2f2;
}
.card-footer.buttons {
    position: absolute;
    bottom: 0;
    height: 3.25em;
    width: 100%;
}

.card-text.buttons {
    padding-bottom: 3.25em;
}

.hosted-tag {
    padding: 0.25em;
    font-size: 0.8em;
    border-radius: 0.75em;
}

.text-white {
    color: white;
}

#navbar {
    background-color: #333333;
    height: 100%;
    position: fixed;
    display: block;
}

#bottomnav {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

#bottomnav .bottomnavbutton {
    width: 23%;
    display: inline-block;
    padding-bottom: 0.75em;
    padding-top: 0.75em;
    text-align: center;
}

.bottomnavbutton:hover, .nav-link:hover {
    background: rgba(255, 255, 255, 0.1);
    color: white;
}

.appcontrols {
    width: 100%;
}

.appcontrols a {
    width: 50%;
}
