<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block title %}App Center{% endblock %}</title>
        {# <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}"> #}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/css/site.css">
        {% block head_js %}{% endblock %}
    </head>
    <body>
        <div class="container-fluid">
            {% if current_user.is_authenticated %}
            <div class="row">
                <div class="col-md-2 p-t-1" id="navbar">
                    {% block nav %}
                    <form class="form p-b-1" id="searchform">
                            {{ searchform.search(placeholder=searchform.search.label.text, class="form-control") }}
                    </form>
                    <ul class="nav nav-pills nav-stacked">
                        {% for category in categories %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('app_center.getApps', id=category.id) }}">{{ category.name }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                    <div id="bottomnav" class="col-md-12" role="group">
                        {% if current_user.has_role('admin') %}
                        <a class="btn bottomnavbutton" role="button" href="{{ url_for('appsadmin.create_view') }}"><i class="fa fa-plus"></i></a>
                        <a class="btn bottomnavbutton" role="button"  href="/admin/"><i class="fa fa-cogs" aria-hidden="true"></i></a>
                        {% endif %}
                        <a class="btn bottomnavbutton" role="button" href="{{ url_for_security('change_password') }}"><i class="fa fa-user" aria-hidden="true"></i></a>
                        <a class="btn bottomnavbutton" role="button"  href="{{ url_for_security('logout') }}"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
                    </div>
                    {% endblock nav %}
                </div>
                <div class="col-md-10 offset-md-2">
                {% else %}
                <div class="col-md-12">
                {% endif %}
                    {% block messages %}
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    <div id="alerts" class="container-fluid">
                        <div class="row">
                    {% for category, message in messages %}
                            <div class="alert alert-dismissible alert-{{ category }} alert-message fade in" role="alerts">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                {{ message }}
                            </div>
                    {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                    {% endwith %}
                    {% endblock %}
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
        {% block javascript %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" integrity="sha384-VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
