{% extends "layout.html" %}
{% from "appcenter_macros.html" import with_error_ajax %}
{% block content %}
<div class="modal fade" id="documentlist" tabindex="-1" role="dialog" aria-labelledby="documentmodaltitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>
<div class="modal fade" id="searchresults" tabindex="-1" role="dialog" aria-labelledby="searchresultstitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row p-b-2" id="noresultsmsg">
                    <h3 class="text-xs-center">No Results</h3>
                </div>
                <div class="row p-b-2" id="appsresultrow">
                    <div class="col-xs-12">
                        <h4>Apps</h4>
                        <table id="appsresultstable" class="table table-hover" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>App</th>
                                    <th>Description</th>
                                    <th>Launch</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row p-b-2" id="docsresultrow">
                    <div class="col-xs-12">
                        <h4>Documents</h4>
                        <table id="docsresultstable" class="table table-hover" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Document</th>
                                    <th>Description</th>
                                    <th>Open</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
{% if current_user.has_role('admin') %}
<div class="modal fade" id="adddocument" tabindex="-1" role="dialog" aria-labelledby="adddocumenttitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="adddocumentform">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title d-inline-block" id="adddocumenttitle">Add Document</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            {{ with_error_ajax(adddocument.name, class="form-control", size="col-xs-12") }}
                        </div>
                        <div class="row">
                            {{ with_error_ajax(adddocument.link, class="form-control", size="col-xs-12") }}
                        </div>
                        <div class="row">
                            {{ with_error_ajax(adddocument.description, class="form-control", size="col-xs-12")}}
                        </div>
                        {{ adddocument.appid }}
                        {{ adddocument.catid }}
                        {{ adddocument.csrf_token }}
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-success">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}
<div class="container-fluid p-t-1" id="content">
    <div class="xs-col-12">
        <div class="card-deck-wrapper">
            <div class="card-deck">
                {% for app in apps %}
                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title d-inline-block">
                            {% if app.icon %}
                            <img src="{{ url_for('static', filename='uploads/' + app.icon) }}" height="45" width="45">
                            {% endif %}
                            {{ app.name }}
                        </h4>
                        {% if app.hosted.color %}
                        <p class="card-text d-inline-block hosted-tag text-white" style="background-color: {{ app.hosted.color }}">{{ app.hosted.name }}</p>
                        {% else %}
                        <p class="card-text d-inline-block hosted-tag">{{ app.hosted.name }}</p>
                        {% endif %}
                        {% if current_user.has_role("admin") %}
                        <p class="card-text d-inline-block pull-xs-right">
                            <a class="text-warning" href="{{ url_for('appsadmin.edit_view')}}?id={{ app.id }}"><i class="fa fa-2x fa-pencil-square" aria-hidden="true"></i></a>
                        </p>
                        {% endif %}
                        <p class="card-text buttons">{{ app.description }}</p>
                    </div>
                    <div class="card-footer buttons">
                        <div class="btn-group appcontrols" role="group" aria-label="App Buttons">
                            <a class="btn btn-success btn-sm" role="button" target="_blank" href="{{ app.link }}">Launch</a>
                            <a class="btn btn-primary btn-sm" role="button" href="#" data-toggle="modal" data-target="#documentlist" data-appid="{{ app.id }}">Documentation</a>
                        </div>
                    </div>
                </div>
                {% if loop.index is divisibleby 3 %}
            </div>
        </div>
        <div class="card-deck-wrapper">
            <div class="card-deck">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
{{ super() }}
<script src="/static/js/apps.js"></script>
{% endblock %}
