<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title d-inline-block" id="documentmodaltitle">Documents</h4>
    {% if current_user.has_role('admin') %}
    <h4 class="d-inline-block p-l-2">
        <a class="text-success" href="#" data-appid="{{ id }}" data-catid=" {{ catid}}" id="adddocuments" data-toggle="modal" data-target="#adddocument"><i class="fa fa-plus"></i></a>
        <a class="text-warning" href="{{ url_for('documents.edit_view') }}"><i class="fa fa-pencil"></i></a>
    </h4>
    {% endif %}
</div>
<div class="modal-body">
    {% if documents.count() > 0 %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Open</th>
            </tr>
        </thead>
        <tbody>
            {% for doc in documents %}
            <tr>
                <td>{{ doc.name }}</td>
                <td>{{ doc.description }}</td>
                <td><a href="{{ doc.link }}" target="_blank">Open</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h3>No Documents</h3>
    {% endif %}
</div>